[Unit]
Description=rtltcpd
After=network.target

[Service]
ExecStart=/usr/local/bin/rtl_tcp
WorkingDirectory=/home/pi/services
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rtltcpd
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
